@page "/"
@inject HttpClient HttpClient
@using ClientApp.Shared

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@if(vm != null)
{
    <h3>App Info </h3>
    <p>
        <span>@vm.AppId</span>
        <span>@vm.AppName</span>
    </p>
}
else
{
    <p><em>Loading...</em></p>
}


@if(cardVm != null)
{
    <div>
        <div>
            <div><h3>@cardVm.Name</h3></div>
            <div>
                <span>Mana Cost</span>
                <span>@cardVm.ManaCost</span>
            </div>
            <div>
                <span>Colors</span>
                @foreach (var item in cardVm.Colors)
                {
                    <span>@item</span>
                }
            </div>
        </div>
        <div>
            <h3>Card Image</h3>
            <div>
                <img src="@cardVm.ImgUrl" alt="@cardVm.Name Card Image" />
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading Card Result..</em></p>
}


@functions {

    AppInfoView vm;

    CardViewModel cardVm;

    protected override async Task OnInitAsync()
    {
        cardVm= await HttpClient.GetJsonAsync<CardViewModel>("api/OrleansTest/AppInfo");


    }

}
